.container{
    padding-top: 84px;
    width: 100%;
    height: 92.9vh;
    background: #222;
    color: #fff;
    text-align: center;
}

.container h2 p {
    padding-block: 1rem;
}
.container img{
    padding-block: 2rem;
    width: 30%;
}